[Unit]
Description=exporter
Requires=socks5.service ngrok.service
After=network.target socks5.service ngrok.service

[Service]
ExecStart=/opt/exporter/exporter
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
IgnoreSIGPIPE=true
Restart=always
RestartSec=15
Type=simple

[Install]
WantedBy=multi-user.target
